div{
    margin-bottom: 50px;
}
button{
    
background-color: pink;
    height:50px;
    width: 100px;
    margin-bottom: 20px;
}

.Main-Container{

    margin-bottom: 20px;
    margin-left: 50px;
}

.input{
    margin-bottom: 20px;
    background-color: antiquewhite;
   width: 400px;
   /* background-color: antiquewhite; */
   align-content:flex-end;
}